#PeeSim Simulation
random.seed 1234567890
simulation.cycles 30
network.size 2

protocol.lnk IdleProtocol

protocol.aldeon org.aldeon.peersim.protocol.AldeonProtocol
protocol.aldeon.linkable lnk
protocol.aldeon.syncMode BRANCH_HASH_WITH_SUGGEST

control.aldeonObserver org.aldeon.peersim.protocol.AldeonObserver
control.aldeonObserver.protocol aldeon

init.rnd WireKOut
init.rnd.protocol lnk
init.rnd.k 1

init.oneMissing org.aldeon.peersim.protocol.controls.OneMessageMissingInitializer
init.oneMissing.protocol aldeon
init.oneMissing.totalNumMessages 10

init.reddit org.aldeon.peersim.protocol.controls.CsvTreeInitializer
init.reddit.protocol aldeon
init.reddit.source config/ivegotthis.csv
init.reddit.maxTimestamp 1436986186.0

include.init rnd reddit

#Class that implements network nodes.
#network.node GeneralNode

#Initializers to use
#include.init initAvgCD initAvgED netInit initSchedulerAvgED

#Controls to use and order of execution
#include.control neighObs valueObsCD valueObsED