#PeeSim Simulation
random.seed 1234567890
simulation.cycles 30
network.size 2

protocol.lnk IdleProtocol

protocol.aldeon org.aldeon.peersim.protocol.AldeonProtocol
protocol.aldeon.linkable lnk
protocol.aldeon.syncMode BRANCH_HASH_WITH_SUGGEST

control.aldeonObserver org.aldeon.peersim.protocol.AldeonObserver
control.aldeonObserver.protocol aldeon

init.rnd WireKOut
init.rnd.protocol lnk
init.rnd.k 1

init.messageTree org.aldeon.peersim.protocol.controls.MessageTreeInitializer
init.messageTree.protocol aldeon
init.messageTree.source config/singleBranch100.csv

include.init rnd messageTree
